@import url("https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap");

:root {
  --black: #333;
  --viole: #7186ff;
  --blue: #305497;
  --shaded-blue: rgb(178, 182, 236);
  --green: #00751f;
  --white: #fff;

  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: Raleway, Verdana, san-serif;
}

.accessibility {
  position: absolute;
  left: -15000px;
}
#mainHeader {
  display: grid;
  grid-template-columns: 80px 1fr 40px;
  align-items: start;
  background-color: var(--blue);
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#mainNav {
  position: absolute;
  background-color: var(--blue);
  width: 100%;
  top: 40px;
  padding-bottom: 10px;
  display: none;
}
#mainNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 90px;
}
#mainNav li {
  color: #fff;
  margin: 3px;
  margin-top: 10px;
  background-color: #333;
  border-radius: 10px;
  transition: all 1s ease-out;
  box-shadow: 1px 3px 1em gold;
}
#mainNav li:hover,
#mainNav li:focus {
  color: #333;
  background-color: #fff;
}
#mainNav a {
  color: var(--white);
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  display: block;
  margin: 10px;
}
#mainNav a:hover {
  color: var(--shaded-blue);
}
#menuToggle {
  background-color: transparent;
  border: none;
  background-size: cover;
  width: 40px;
  height: 40px;
  align-self: start;
  margin-left: auto;
}
main {
  background-color: rgba(155, 155, 155, 0.8);
  padding: 20px;
  color: var(--white);
}

#pageContent.contact form {
  /*display: grid;*/
  border-top: solid 1px var(--white);
}
#pageContent.contact form > div > div {
  margin: 20px 0;
}
#pageContent.contact form > div:last-child > div:first-child {
  margin: 0 0 20px 0;
}
#pageContent.contact form label {
  margin-bottom: 5px;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
}
#pageContent.contact form button {
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  margin-top: 30px;
}
#pageContent.contact form button:hover {
  background-color: var(--shaded-blue);
}
#pageContent.contact form button:active {
  background-color: var(--blue);
}
#pageContent.contact form input,
#pageContent.contact form input:valid,
#pageContent.contact form input.invalid {
  border: 1px solid var(--blue);
}

#upload {
  font-family: "MV Boli", Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(102, 155, 235);
  color: white;
  padding: 5rem;
  border-top: solid 1px var(--white);
}

#upload form {
  display: grid;
}
#upload form {
  display: flex;
  flex: initial;
  justify-content: space-around;
}

#upload form > div:last-child > div:first-child {
  margin: 0 0 20px 0;
}
#upload form label {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 1.1em;
}
#upload form button {
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
}
#upload form button:hover {
  background-color: var(--shaded-blue);
  cursor: pointer;
}
#upload form button:active {
  background-color: var(--blue);
}
#upload form select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(162, 162, 255);
}
#upload form input:valid {
  border: 1px solid var(--green);
}
#upload form input.invalid {
  border: 1px solid var(--blue);
}
.table {
  margin: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  animation: fade-out;
}
.table__raw:nth-child(even) {
  background-color: #f2f2f2;
}
.table__header {
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.table__cell {
  padding: 10px;
  border: 1px solid #ddd;
}
td:hover {
  background-color: #ddd;
}
#upload_table h2 {
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: rgb(50, 82, 82);
  border: 1 solid #3a5c53;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  width: 80%;
  padding: 10px;
}
.reponse p {
  /*border: 1px solid rgb(35, 173, 46);*/
  background-color: lawngreen;
}
.reponse a:link {
  padding: 5px;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  background-color: lightseagreen;
  text-decoration: none;
  margin-left: 10px;
  color: white;
}
.succes p {
  font-family: "MV Boli", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  background-color: yellowgreen;
  animation: fade-in 3s ease;
}
.erreur p {
  font-family: "MV Boli", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  background-color: rgb(241, 59, 59);
  animation: fade-in 3s ease;
}
.list_user button {
  margin: 10px;
  border-radius: 10px;
}
.users_list {
  text-align: center;
  color: white;
  background-color: #8bb691;
  padding: 1rem;
}

.table {
  margin: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
.table__raw:nth-child(even) {
  background-color: #f2f2f2;
}
.table__header {
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.table__cell {
  padding: 10px;
  border: 1px solid #ddd;
}
td:hover {
  background-color: #ddd;
}
.fade-out {
  animation: fade-out 2s ease 3s forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  #menuToggle {
    display: none;
  }
  #mainHeader {
    grid-template-columns: auto;
  }
  #mainNav {
    position: static;
    background: transparent;
    display: flex !important;
    padding: 0;
    justify-content: space-around;
  }
  #mainNav ul {
    flex-flow: row nowrap;
    margin-left: 0px;
  }
  #mainNav a {
    font-size: 1.2em;
  }
  .titre {
    position: static;
    margin-top: 70px;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, serif;
  }
  #pageContent.home {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  #mainHeader {
    grid-template-columns: auto;
  }
  #mainHeader h1 {
    font-size: 1.5em;
  }
  #pageContent.contact form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  #pageContent.contact form button {
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    grid-column: 1 / -1;
  }

  .hello {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 2em;
    color: rgb(33, 24, 168);
  }
}
